{% extends 'base.html' %}

{% block content %}
    <!-- Include the nav bav -->
     {% include 'nav.html' %}

    <!-- Sidebar -->

    <!-- Include aside panel -->
     {% include 'aside.html' %}
           <!-- All posts container -->
      <div class="all-posts-container py-18 lg:py-16 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1">
         <div class="flex flex-row flex-wrap justify-between mt-4 mb-4">
           <h4 class="text-2xl font-bold text-gray-500">All posts</h4>
           <button class="bg-blue-600 text-white py-2 px-4 rounded-lg font-semibold font-medium hover:bg-blue-700 "><i class="fa-solid fa-file"></i><a href="{{ url_for('views.create_post')}}" class="mx-3">New post</a> </button>
         </div>
         {% if posts %}
         {% for post in posts %}
        <div class="rounded-lg border-gray-300 dark:border-gray-600">
            <div class="mt-3">
              <div class="block p-2 bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">

              <a href="{{ url_for('views.post', post_id=post.id) }}" class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</a>
              <p class="text-medium text-gray-400">{{ post.content[:60]|safe}}...</p>
                <div class="flex flex-row items-center mt-4">
                  <span class="text-sm text-gray-400 "> {{ post.likes }} <i class="fa-solid fa-thumbs-up"></i></span>
                  <span class="text-sm text-gray-400 px-2">{{ post.views }}<i class="fa-solid fa-eye"></i></span>
                </div>
                <div class="flex flex-row items-center mt-4">
                  <a href="{{ url_for('views.delete_post', post_id=post.id)}}"><span class="text-red-600"><i class="fa-solid fa-trash"></i></span></a>
                  <a href="{{ url_for('views.edit_post', post_id=post.id)}}"><span class="mx-3 text-green-600"><i class="fa-solid fa-pen-to-square"></i></span></a>
                </div>
              </div>
          </div>
          </div>
         {% endfor %}
         {% else %}
          <div class="flex flex-row items-center justify-center">
            <h4 class="text-sm font-medium text-red-500">No posts available</h4>
          </div>
          {% endif %}

        </div>
      </div>
{% endblock %}