{% extends "base.html" %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col justify-center align-center items-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white mb-10">{{ post.title }}</h2>
                <div class="mb-10">
                    <span>{{ post.user_id }}</span>
                    <p>
                        <span><i class="fa-solid fa-eye"></i>  {{ post.views }}</span>
                        <span><i class="fa-solid fa-thumbs-up"></i> {{ post.likes }} </span>
                    </p>
                    <span>{{ post.category.name }}</span>
                </div>
                <div class="flex-center flex justify-center align-center items-center">
                    <img src="{{ url_for('views.post_image', post_id=post.id) }}" alt="{{ post.image_filename }}"/>
                </div>
                <p class="mb-4 font-light">{{ post.content }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
