{% extends 'base.html' %}

{% block content %}
    <!-- Include the nav bav -->
     {% include 'nav.html' %}
    <!-- Include aside panel -->
     {% include 'aside.html' %}

     <!-- container starts here -->
<div class="bg-gray-900 text-white min-h-screen flex items-center justify-center p-4 mt-16 mr-3">
  <form class="bg-gray-800 p-4 rounded-2xl shadow-lg w-full max-w-3xl" method="post" enctype="multipart/form-data" autocomplete="off">
    <h1 class="text-center text-white text-2xl font-medium mb-6">User profile</h1>
     {{ form.hidden_tag() }}
    <!-- Profile Image and Upload -->
    <div class="flex flex-col items-center text-center mb-6">
      {% if user.image_filename %}
        <img id="profilePreview" src="{{ url_for('auth.profile_picture', user_id=user.id)}}" alt="Profile picture" class="w-24 h-24 rounded-full ring-4 ring-gray-100 mb-2 object-cover" />
      {% else %}
        <img id="profilePreview" src="{{ url_for('static', filename='images/user.png')}}" alt="Profile picture" class="w-24 h-24 rounded-full ring-2 ring-sky-500 mb-2 object-cover" />
      {% endif %}

      <label for="profileImage" class="cursor-pointer text-medium text-gray-800 hover:underline -mt-5 ml-10 bg-gray-100 rounded-full p-2 shadow-md transition duration-300 ease-in-out h-7 w-7 flex items-center justify-center">
        <i class="fa-solid fa-camera"></i>
      </label>

        {{ form.profile_picture(class="hidden", accept="image/*", onchange="previewImage(event)", id="profileImage") }}
        {% for error in form.profile_picture.errors %}
          <span class="text-red-600">{{ error }}</span>
        {% endfor %}

      <h2 class="text-xl font-semibold mt-2">{{ user.name }}</h2>
      <p class="text-gray-400">{{ user.email }}</p>
    </div>

    <!-- Profile Form -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        {{ form.username.label(class="block mb-1 text-sm") }}
        {{ form.username(class="w-full rounded-lg bg-gray-700 border border-gray-600 text-white p-2 focus:ring-sky-500 focus:border-sky-500") }}
        {% for error in form.username.errors %}
          <span class="text-red-600">{{ error }}</span>
        {% endfor %}
      </div>

      <div>
        {{ form.email.label(class="block mb-1 text-sm") }}
        {{ form.email(class="w-full rounded-lg bg-gray-700 border border-gray-600 text-white p-2 focus:ring-sky-500 focus:border-sky-500") }}
        {% for error in form.email.errors %}
          <span class="text-red-600">{{ error }}</span>
        {% endfor %}
      </div>
      <div>
        {{ form.password.label(class="block mb-1 text-sm") }}
        {{ form.password(class="w-full rounded-lg bg-gray-700 border border-gray-600 text-white p-2 focus:ring-sky-500 focus:border-sky-500") }}
        {% for error in form.password.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
       </div>
             <div>
        {{ form.confirm_password.label(class="block mb-1 text-sm") }}
        {{ form.confirm_password(class="w-full rounded-lg bg-gray-700 border border-gray-600 text-white p-2 focus:ring-sky-500 focus:border-sky-500") }}
        {% for error in form.confirm_password.errors %}
        <span class="text-red-600">{{ error }}</span>
        {% endfor %}
       </div>
      <!-- Action Buttons -->
      <div class="md:col-span-2 mt-4 flex justify-end gap-3">
        <button type="button" class="py-2 px-4 rounded-lg bg-red-600 hover:bg-red-500 text-white font-semibold shadow-md transition cursor-pointer">
            <a href="{{ url_for('views.dashboard') }}">Cancel</a>
        </button>
        {{ form.submit(class="py-2 px-4 rounded-lg bg-sky-700 hover:bg-sky-800 text-white font-semibold shadow-md transition cursor-pointer") }}
      </div>
    </div>
    </div>
</form>
</div>
<script>
    function previewImage(event) {
      const reader = new FileReader();
      reader.onload = function () {
        const output = document.getElementById('profilePreview');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}